Add support for non-standard properties

This library is great, but there is no built‑in mechanism to include non‑standard properties (as defined by section 3.8.8.2 of RFC 5545) in generated ICS files or to parse them from ICS input. For example, in an application I'm building we need to add custom metadata to attendee objects. Also, many modern calendar applications extend calendar data with additional metadata.

**Proposed Solution**
- Extend the VCalendar, VEvent, and other related interfaces to accept arbitrary key‑value pairs for custom properties.
- Update the serialization logic to include any provided custom properties (ensuring they are correctly formatted as "X‑" properties) and modify the parser to capture them.
- Provide guidance on how to add and retrieve these non‑standard properties in documentation.

Note for me: https://icalendar.org/iCalendar-RFC-5545/3-8-8-2-non-standard-properties.html

I'd rather extend VCalendar etc. with an extra key called `nonStandard` or `x` which then contains the key-value pairs. This feels cleaner to me and makes parsing easier.
For the sake of type safety, there needs to be an option to provide parsing and generation rules for each of these fields.

These options could look like following: 
```tsx
parseIcsCalendar(icsCalendarString,
   {nonStandardValues: {
      abcDuration: {
         name: "ABC-DURATION", // string | undefined --> if not specified, automatically converted to upper case
         parse: (value)=> icsDurationToObject(value) } // Function | undefined --> if not specified, leave as string
      }
   }
)

generateIcsCalendar(calendar,
   {nonStandardValues: {
      abcDuration: {
         name: "ABC-DURATION", 
         generate: (value)=> generateIcsDuration(value) }
      }
   })
```

We already support X-WR-CALNAME https://github.com/Neuvernetzung/ts-ics/pull/135, which could be overridden with custom logic, but I wouldn't remove it entirely.
Additionally, we'd need some type helpers and make VCalendar generic to handle these props.

I'd love to see this feature added. Could you provide a PR for this?

Good ideas! I will provide a PR soon.

Check out https://github.com/Neuvernetzung/ts-ics/pull/152 to see if it suits your needs.